<div class="sign-up-card">
<div class="sign-up-info">
<h1>Project Details</h1>
<p>Update your project details below</p>
</div>



<form class='sign-up-forms' action="/create <%= post['id'] %>" method="POST">
  <input type="text" placeholder="title" name="project_title" value="<%= post['project_title'] %>">
   <input type="text" placeholder="thumbnail_img" name="project_thumnail" value="<%= post['project_thumnail'] %>">
    <input type="text" placeholder="author" name="project_author" value="<%= post['project_author'] %>" >
     <input type="text" placeholder="about" name="project_about" value="<%= post['project_about'] %>">
      <input type="text" placeholder="image_url" name="project_main_img" value="<%= post['project_main_img'] %>">
  <button class="sign-up-button">Update Project</button>
</form>

</div>