<h1>Your Posts </H1>


<section class="main-grid">
<div class="content-block">
<% projects.each do |project| %>
            <div class="image-block"><img
                    src="<%= project["project_main_img"]%>">
            </div>
            <div class="info-block">
                <div class="user-info">
                <h3> <%= project["project_title"] %></h3>
                <p> <%= project["project_author"]%> </p>
                </div>
                <div class="reactions">
                    <p>Likes: </p>
                </div>
                <form action="/create/<%= project["id"] %>" method="POST">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <input type="submit" value="Delete">
                </form>

                <form action="/create/<%= project["id"] %>/edit">
                    <input type="submit" value="Edit">
                </form>
            </div>
        </div>
<% end %>

</div>

</section>